ros_ws/build/
ros_ws/devel/
ros_ws/src/CMakeLists.txt
ros_ws/src/.vscode
ros_ws/src/crazyflie-firmware
ros_ws/.catkin_tools
.DS_Store
*.pyc
*~
*.mexa64
# james's symlinks :)
cfs.yaml
firm
client
launch # ignore launch symlink
!*ros_ws/*launch* # don't ignore folders with launch in the name
